<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{!-- CSS --}}
    <link rel="stylesheet" href="css/style.css">
    {{!-- Boxicon CSS --}}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    {{>navbar}}
     <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>

                <form action="/login" method="POST">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" required name="email">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" required name="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field ">
                        <button class="btnLogin">Login</button>
                    </div>

                    <div class="form-link">
                        <span>Don't have an account? <a href="/register" class="signup-link">SignUp</a></span>
                    </div>
                </form>
            </div>
        </div>
     </section>

     {{!-- JavaScript --}}
     <script >
        pwShowHide = document.querySelectorAll(".eye-icon");
        pwShowHide.forEach(eyeIcon => {
            eyeIcon.addEventListener("click", () => {
            let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
            
            pwFields.forEach(password => {
                if(password.type === "password"){
                    password.type = "text";
                    eyeIcon.classList.replace("bx-hide", "bx-show");
                    return;
                }
                password.type = "password";
                eyeIcon.classList.replace("bx-show", "bx-hide");
            })
            })
        })
     </script>
    
</body>
</html>